backend/.env
backend/node_modules/
node_modules/
*.log
logs/
.DS_Store
*.swp
*.swo
.vscode/
.idea/
dist/
build/
coverage/
.env
.env.local
.env.*.local

# Sensitive Files
ec2_env.txt
rds_endpoint.txt
token.json
*.db

# Local Netlify folder
.netlify

# Deployment logs
nohup.out
