services:
  - type: web
    name: elixopay-backend
    env: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
    autoDeploy: false

databases:
  - name: elixopay-db
    plan: free
    databaseName: elixopay
    user: elixopay
